POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=ldapi-db
POSTGRES_PORT=5432
POSTGRES_HOST=portal-postgres

LDAP_URL=ldap://ldap:389
LDAP_BASE_DN=dc=inf,dc=uct,dc=cl
LDAP_ADMIN_USER=cn=admin
LDAP_ADMIN_PASSWORD=admin

JWT_SECRET=jwt-secret-please-change

SEED_ADMIN_UID=some_uid
SEED_ADMIN_NAME="Administrator full name"
SEED_ADMIN_EMAIL=someemail@domain.com
SEED_ADMIN_PASSWORD=some_secret_password
